<div class="lg-user-ele-prds-detalis">
     <div class="lg-user-ele-prd-detalis user-ele-product-section-1">
        <div class="lg-user-ele-prd-detalis ele-product-lg-container">
            <div class="user-ele-product-image">
                <img class="user-ele-product-object" src="app/product_Img/{{eleId}}_{{pfileName}}">
            </div>
        </div>
         <div class="user-ele-product-info"> 
            <div class="ele-prd-name">
                <span><h3 class="ele-prd-pbName"> {{peleName}} </h3></span>
            </div>
            <div class="user-ele-product-price">
                <span><h4>Price : </h4></span>
                <span><h4 class="ele-prd-pbPrice">{{ pelePrice }}/-</h4></span>
            </div>
            <div class="user-ele-product-location">
                <span class="ele-prd-pblocation"><small>{{ peleLocation}}</small></span>
            </div>
            <div class="ele-product-xch-btn">
                <div class="ele-product-xch-submit-btn col-sm-offset-4 col-sm-1">
                    <button type="submit" class="ele-product-xch-submit-btn-outline">Exchange</button>
                </div>
             </div>
        </div>
    </div>
</div>
