<div class="lg-user-prds-detalis">
     <div class="lg-user-prd-detalis user-product-section-1">
        <div class="lg-user-prd-detalis product-lg-container">
            <div class="user-product-image">
                <img class="user-product-object" src="app/product_Img/{{productId}}_{{pfileName}}">
            </div>
        </div>
         <div class="user-product-info"> 
            <div class="prd-name">
                <span><h3 class="prd-pbName"> {{pbookName}} </h3></span>
            </div>
            <div class="user-product-price">
                <span><h4>Price : </h4></span>
                <span><h4 class="prd-pbPrice">{{ pbookPrice }}/-</h4></span>
            </div>
            <div class="user-product-location">
                <span class="prd-pblocation"><small>{{ pbookLocation}}</small></span>
            </div>
            <div class="product-xch-btn">
                <div class="product-xch-submit-btn col-sm-offset-4 col-sm-1">
                    <button type="submit" class="product-xch-submit-btn-outline">Exchange</button>
                </div>
             </div>
        </div>
    </div>
</div>
