<div class="show-user-bk-prds-detalis">
     <div class="show-user-bk-prd-detalis user-bk-product-section-1">
        <div class="show-user-bk-prd-detalis bk-product-show-container">
            <div class="show-user-bk-product-image">
                <img class="show-user-bk-product-object" src="app/product_Img/{{productId}}_{{bookFileName}}{{eleFileName}}">
            </div>
        </div>
         <div class="show-user-bk-product-info"> 
            <div class="show-bk-prd-name">
                <span><h3 class="show-bk-prd-pbName"> {{pbookName}}{{peleName}} </h3></span>
            </div>
            <div class="show-user-bk-product-price">
                <span><h4>Price : </h4></span>
                <span><h4 class="show-bk-prd-pbPrice"> {{ pbookPrice }}{{ pelePrice }}/-</h4></span>
            </div>
            <div class="show-user-bk-product-location">
                <span class="show-bk-prd-pblocation"><small>{{pbookLocation}}{{peleLocation}} </small></span>
            </div>
            <div class="show-bk-product-xch-btn" id="how-bk-product-xch-btn">
                <div class="show-bk-product-xch-select-btn col-sm-offset-4 col-sm-1">
                    <button type="submit" class="bk-product-xch-select-btn-outline">Select</button>
                </div>
             </div>
             <div class="show-bk-product-xch-cancle-btn" id="show-bk-product-xch-cancle-btn">
                <div class="show-bk-product-xch-select-btn col-sm-offset-4 col-sm-1">
                    <button type="submit" class="bk-product-xch-select-cancle-btn">Cancle</button>
                </div>
             </div>
        </div>
    </div>
</div>
