<div class="show-user-notification-item">
   <div class="user-product-image">
        <img class="show-user-notification-object" src="app/product_Img/{{sendImgName}}">
    </div>
    <div class="prd-name">
        <span><h4 class="prd-pbName"> {{sleUserName}} </h4></span>
         <div>is ready for exchage with your {{pbookName}}{{peleName}} </div>
    </div>
     <div class="user-product-image">
        <img class="show-user-notification-object" src="app/product_Img/{{currImgName}}">
    </div>
</div>